/node_modules
/public/hot
/storage/*.key
/storage/logs
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
error_log
/public/public/images
/public/public/logo

